logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
ormconfig.js
src/app/public/uploads
src/config/config.default.ts
dist/
src/app/public/cert/
src/public/static/
