# NPM Taobao registry
registry=https://registry.npm.taobao.org

# Taobao node binary mirrors
disturl=https://npm.taobao.org/dist
electron_mirror=https://npm.taobao.org/mirrors/electron
phantomjs_cdnurl=https://npm.taobao.org/mirrors/electron
chromedriver_cdnurl=https://cdn.npm.taobao.org/dist/chromedriver
operadriver_cdnurl=https://cdn.npm.taobao.org/dist/operadriver
fse_binary_host_mirror=https://npm.taobao.org/mirrors/fsevents
sass_binary_site=http://cdn.npm.taobao.org/dist/node-sass
canvas_binary_host_mirror=https://npm.taobao.org/mirrors/node-canvas-prebuilt/
